# Node modules
node_modules/

# Logs
*.log
logs/

# Environment files
.env

# OS-specific files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# Yarn lock file (if using yarn)
yarn.lock

# IDE/editor files
.vscode/
.idea/

# Operating system-specific files
*.swp
*.swo

# Coverage directory used by testing tools
coverage/

# Build directory for TypeScript projects
out-tsc/

# Temporary files
*.tmp
*.temp

# Misc
*.tgz
